# vim
config/nvim/colors/*

# zsh
config/zsh/.zcompdump*
config/zsh/.zinit/*
config/zsh/completions/*
config/zsh/.zcompcache/*

# gh
config/gh/hosts.yml

# btop
config/btop/btop.log

!**/.gitkeep
# vim:ft=gitignore
