[include]
  path = ~/.gitconfig.local
[core]
  editor = vim -c "set fenc=utf-8"
	quotepath = false
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[url "github:"]
  InsteadOf = https://github.com
  InsteadOf = git@github.com
