# vim
config/nvim/colors/*

# zsh
config/zsh/.zcompdump*
config/zsh/.zinit/*
config/zsh/completions/*
config/zsh/.zcompcache/*

# gh
config/gh/hosts.yml

# btop
config/btop/btop.log

# fcitx
config/fcitx/*
!config/fcitx/config
!config/fcitx/skk/
!config/fcitx/conf/
config/fcitx/conf/*
!config/fcitx/conf/fcitx-skk.config
!config/fcitx/conf/fcitx-xkb.config

# systemd
config/systemd/user/*.target.wants/*
config/systemd/user/docker.service

!**/.gitkeep
# vim:ft=gitignore
