[Unit]
Description=Denops shared server
Documentation=https://github.com/vim-denops/denops.vim

[Service]
Type=simple
Restart=always
Environment=PATH={{ .Env.PATH }}
Environment=AQUA_GLOBAL_CONFIG={{ .Env.AQUA_GLOBAL_CONFIG }}
Environment=AQUA_ROOT_DIR={{ .Env.AQUA_ROOT_DIR }}
Environment=AQUA_EXPERIMENTAL_X_SYS_EXEC=true
Environment=EDITOR={{ .Env.EDITOR }}
Environment=MOCWORD_DATA={{ .Env.MOCWORD_DATA }}
Environment=XDG_CACHE_HOME={{ .Env.XDG_CACHE_HOME }}
Environment=XDG_CONFIG_HOME={{ .Env.XDG_CONFIG_HOME }}
Environment=XDG_DATA_HOME={{ .Env.XDG_DATA_HOME }}
Environment=XDG_RUNTIME_DIR={{ .Env.XDG_RUNTIME_DIR }}
Environment=XDG_STATE_HOME={{ .Env.XDG_STATE_HOME }}
ExecStart={{ .Env.AQUA_ROOT_DIR }}/bin/aqua exec -- deno run --allow-all --quiet --no-lock --unstable {{ .Env.XDG_CACHE_HOME }}/nvim/dein/repos/github.com/vim-denops/denops.vim/denops/@denops-private/cli.ts

[Install]
WantedBy=default.target
