#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
NoDisplay=true
Name=Chromium Web Browser Wrapper
Name[ja]=Chromium ウェブ・ブラウザ Wrapper
GenericName=Web Browser
GenericName[ja]=ウェブ・ブラウザ
Comment=Access the Internet with Dark Mode
Comment[ja]=インターネットにアクセス
Exec=chromium-browser-wrapper %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;

[Desktop Action NewWindow]
Name=Open a New Window
Name[ja]=新しいウィンドウを開く
Exec=chromium-browser-wrapper

[Desktop Action Incognito]
Name=Open a New Window in incognito mode
Name[ja]=新しいシークレット ウィンドウを開く
Exec=chromium-browser-wrapper --incognito

[Desktop Action TempProfile]
Name=Open a New Window with a temporary profile
Name[ja]=一時プロファイルで新しいウィンドウを開く
Exec=chromium-browser-wrapper --temp-profile
