#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Element
Comment=Matrix PWA client with Element
Icon=element
Exec=/home/hibiki/.local/bin/chromium-browser-wrapper --app=https://app.element.io
Terminal=false
StartupNotify=true
StartupWMClass=app.element.io
