#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=vim-jp Slack
Comment=vim-jp Slack PWA client
Icon=vim-jp
Exec=chromium-browser-wrapper --app=https://vim-jp.slack.com
Terminal=false
StartupNotify=true
StartupWMClass=vim-jp.slack.com
