name: prettier

on:
  push:
    branches:
      - main
    paths:
      - "**/*.yaml"
      - "**/*.yml"
  pull_request:
    branches:
      - main
    paths:
      - "**/*.yaml"
      - "**/*.yml"

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install prettier
        run: npm install --location=global prettier
      - name: Check style
        run: prettier --check ./**/*.yaml .??*/**/*.yaml ./**/*.yml
